<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pentaschoolportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.PentaSchoolPortal"
        tools:targetApi="31">
        <activity
            android:name=".Reset"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewAttendance"
            android:exported="false" />
        <activity
            android:name=".StartDownload"
            android:exported="false" />
        <activity
            android:name=".DownloadNotes"
            android:exported="false" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".ChatList"
            android:exported="false" />
        <activity
            android:name=".Timetable"
            android:exported="false" />
        <activity
            android:name=".ClassSubject"
            android:exported="false" />
        <activity
            android:name=".Message"
            android:exported="false" />
        <activity
            android:name=".Results"
            android:exported="false" />
        <activity
            android:name=".Fees"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>